@-webkit-keyframes shimmer {
  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

@keyframes shimmer {
  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

:root {
  --earth-width: 100vmin;
  --earth-height: 75vmin;
}

html {
  background-color: black;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: all 1s ease;
}

.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  font-family: 'Orbitron' !important;
  color: white;
  width: 100%;
  min-height: 100%;
}

.status {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 44px;
  font-family: 'Bebas Neue', sans-serif;
}

.butt {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 20px;
  border: 2px red solid;
  border-radius: 4px;
  color: white;
  font-size: 24px;
  background: red;
}

.flag {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.area {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 44px;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-family: "Fredoka One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vmin;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.sky {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #060016;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #0c002a 0%, black 50%, #0c002a 95%);
  overflow: hidden;
}

.stars {
  opacity: 0.9;
}

.layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.atlas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vmin;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*  
      .night {
        stroke: black;
        fill: black;
        fill-opacity: .7;
      }
  
      .location {
        fill: red;
      }
  
      .solar-terminator {
        fill: yellow;
      }
    */
}

.atlas svg {
  width: var(--earth-width);
  height: var(--earth-height);
}

.atlas .stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.atlas .water {
  fill: #fff;
}

.atlas .graticule {
  fill: none;
  stroke: #444;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.atlas .land {
  fill: #222;
}

.atlas .land:hover {
  fill: red;
  stroke-width: 1px;
}

.atlas .focused {
  fill: red;
}

.atlas .boundary {
  fill: none;
  stroke: rgba(73, 136, 228, 0.7);
  stroke-width: 0.5px;
}

.atlas-menu {
  font-family: "Source Code Pro", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vmin;
  flex-direction: column;
  text-align: center;
}

.star {
  position: absolute;
  background-color: #F8F8F8;
  border-radius: 100%;
}

.star:nth-child(1) {
  top: 3vh;
  left: 87vw;
  width: 1px;
  height: 1px;
  opacity: 0.6;
  box-shadow: 0 0 33px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 79s;
  animation: shimmer 0.4s 79s;
}

.star:nth-child(2) {
  top: 27vh;
  left: 8vw;
  width: 1px;
  height: 1px;
  opacity: 0.6;
  box-shadow: 0 0 17px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 71s;
  animation: shimmer 0.4s 71s;
}

.star:nth-child(3) {
  top: 60vh;
  left: 9vw;
  width: 2px;
  height: 2px;
  opacity: 0.7;
  box-shadow: 0 0 12px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 58s;
  animation: shimmer 0.4s 58s;
}

.star:nth-child(4) {
  top: 90vh;
  left: 33vw;
  width: 3px;
  height: 3px;
  opacity: 0.2;
  box-shadow: 0 0 25px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 97s;
  animation: shimmer 0.4s 97s;
}

.star:nth-child(5) {
  top: 58vh;
  left: 74vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 32px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 39s;
  animation: shimmer 0.4s 39s;
}

.star:nth-child(6) {
  top: 66vh;
  left: 74vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 33px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 85s;
  animation: shimmer 0.4s 85s;
}

.star:nth-child(7) {
  top: 21vh;
  left: 16vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 36px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 13s;
  animation: shimmer 0.4s 13s;
}

.star:nth-child(8) {
  top: 53vh;
  left: 11vw;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  box-shadow: 0 0 30px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 41s;
  animation: shimmer 0.4s 41s;
}

.star:nth-child(9) {
  top: 58vh;
  left: 59vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 34px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 85s;
  animation: shimmer 0.4s 85s;
}

.star:nth-child(10) {
  top: 32vh;
  left: 58vw;
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 90s;
  animation: shimmer 0.4s 90s;
}

.star:nth-child(11) {
  top: 36vh;
  left: 7vw;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 0 1px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 24s;
  animation: shimmer 0.4s 24s;
}

.star:nth-child(12) {
  top: 81vh;
  left: 96vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 81s;
  animation: shimmer 0.4s 81s;
}

.star:nth-child(13) {
  top: 66vh;
  left: 49vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 30px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 91s;
  animation: shimmer 0.4s 91s;
}

.star:nth-child(14) {
  top: 98vh;
  left: 87vw;
  width: 1px;
  height: 1px;
  opacity: 0.9;
  box-shadow: 0 0 26px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 72s;
  animation: shimmer 0.4s 72s;
}

.star:nth-child(15) {
  top: 57vh;
  left: 57vw;
  width: 1px;
  height: 1px;
  opacity: 0.4;
  box-shadow: 0 0 14px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 17s;
  animation: shimmer 0.4s 17s;
}

.star:nth-child(16) {
  top: 25vh;
  left: 24vw;
  width: 1px;
  height: 1px;
  opacity: 0.4;
  box-shadow: 0 0 26px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 74s;
  animation: shimmer 0.4s 74s;
}

.star:nth-child(17) {
  top: 46vh;
  left: 66vw;
  width: 2px;
  height: 2px;
  opacity: 0.8;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 17s;
  animation: shimmer 0.4s 17s;
}

.star:nth-child(18) {
  top: 17vh;
  left: 62vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 13px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 89s;
  animation: shimmer 0.4s 89s;
}

.star:nth-child(19) {
  top: 42vh;
  left: 72vw;
  width: 1px;
  height: 1px;
  opacity: 0.3;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 22s;
  animation: shimmer 0.4s 22s;
}

.star:nth-child(20) {
  top: 92vh;
  left: 31vw;
  width: 1px;
  height: 1px;
  opacity: 0.1;
  box-shadow: 0 0 24px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 47s;
  animation: shimmer 0.4s 47s;
}

.star:nth-child(21) {
  top: 71vh;
  left: 75vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 10px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 71s;
  animation: shimmer 0.4s 71s;
}

.star:nth-child(22) {
  top: 65vh;
  left: 26vw;
  width: 2px;
  height: 2px;
  opacity: 0.9;
  box-shadow: 0 0 32px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 12s;
  animation: shimmer 0.4s 12s;
}

.star:nth-child(23) {
  top: 27vh;
  left: 45vw;
  width: 3px;
  height: 3px;
  opacity: 0.2;
  box-shadow: 0 0 17px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 18s;
  animation: shimmer 0.4s 18s;
}

.star:nth-child(24) {
  top: 3vh;
  left: 18vw;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  box-shadow: 0 0 33px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 36s;
  animation: shimmer 0.4s 36s;
}

.star:nth-child(25) {
  top: 9vh;
  left: 83vw;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 0 6px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 44s;
  animation: shimmer 0.4s 44s;
}

.star:nth-child(26) {
  top: 28vh;
  left: 48vw;
  width: 3px;
  height: 3px;
  opacity: 0.8;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 35s;
  animation: shimmer 0.4s 35s;
}

.star:nth-child(27) {
  top: 78vh;
  left: 79vw;
  width: 3px;
  height: 3px;
  opacity: 0.8;
  box-shadow: 0 0 5px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 12s;
  animation: shimmer 0.4s 12s;
}

.star:nth-child(28) {
  top: 79vh;
  left: 49vw;
  width: 2px;
  height: 2px;
  opacity: 0.1;
  box-shadow: 0 0 1px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 6s;
  animation: shimmer 0.4s 6s;
}

.star:nth-child(29) {
  top: 35vh;
  left: 88vw;
  width: 1px;
  height: 1px;
  opacity: 0.5;
  box-shadow: 0 0 20px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 3s;
  animation: shimmer 0.4s 3s;
}

.star:nth-child(30) {
  top: 31vh;
  left: 91vw;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  box-shadow: 0 0 10px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 4s;
  animation: shimmer 0.4s 4s;
}

.star:nth-child(31) {
  top: 94vh;
  left: 57vw;
  width: 2px;
  height: 2px;
  opacity: 0.6;
  box-shadow: 0 0 19px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 45s;
  animation: shimmer 0.4s 45s;
}

.star:nth-child(32) {
  top: 66vh;
  left: 63vw;
  width: 2px;
  height: 2px;
  opacity: 0.3;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 8s;
  animation: shimmer 0.4s 8s;
}

.star:nth-child(33) {
  top: 11vh;
  left: 31vw;
  width: 3px;
  height: 3px;
  opacity: 0.2;
  box-shadow: 0 0 29px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 9s;
  animation: shimmer 0.4s 9s;
}

.star:nth-child(34) {
  top: 62vh;
  left: 40vw;
  width: 2px;
  height: 2px;
  opacity: 0.8;
  box-shadow: 0 0 26px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 11s;
  animation: shimmer 0.4s 11s;
}

.star:nth-child(35) {
  top: 58vh;
  left: 42vw;
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow: 0 0 35px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 16s;
  animation: shimmer 0.4s 16s;
}

.star:nth-child(36) {
  top: 90vh;
  left: 40vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 24px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 3s;
  animation: shimmer 0.4s 3s;
}

.star:nth-child(37) {
  top: 10vh;
  left: 88vw;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  box-shadow: 0 0 7px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 75s;
  animation: shimmer 0.4s 75s;
}

.star:nth-child(38) {
  top: 9vh;
  left: 88vw;
  width: 2px;
  height: 2px;
  opacity: 0.9;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 27s;
  animation: shimmer 0.4s 27s;
}

.star:nth-child(39) {
  top: 70vh;
  left: 84vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 29s;
  animation: shimmer 0.4s 29s;
}

.star:nth-child(40) {
  top: 97vh;
  left: 46vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 34px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 64s;
  animation: shimmer 0.4s 64s;
}

.star:nth-child(41) {
  top: 51vh;
  left: 60vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 73s;
  animation: shimmer 0.4s 73s;
}

.star:nth-child(42) {
  top: 93vh;
  left: 5vw;
  width: 3px;
  height: 3px;
  opacity: 0.8;
  box-shadow: 0 0 30px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 51s;
  animation: shimmer 0.4s 51s;
}

.star:nth-child(43) {
  top: 81vh;
  left: 22vw;
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 72s;
  animation: shimmer 0.4s 72s;
}

.star:nth-child(44) {
  top: 1vh;
  left: 37vw;
  width: 1px;
  height: 1px;
  opacity: 0.4;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 30s;
  animation: shimmer 0.4s 30s;
}

.star:nth-child(45) {
  top: 82vh;
  left: 80vw;
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow: 0 0 35px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 17s;
  animation: shimmer 0.4s 17s;
}

.star:nth-child(46) {
  top: 8vh;
  left: 12vw;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 0 3px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 83s;
  animation: shimmer 0.4s 83s;
}

.star:nth-child(47) {
  top: 84vh;
  left: 44vw;
  width: 2px;
  height: 2px;
  opacity: 0.9;
  box-shadow: 0 0 33px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 44s;
  animation: shimmer 0.4s 44s;
}

.star:nth-child(48) {
  top: 74vh;
  left: 70vw;
  width: 1px;
  height: 1px;
  opacity: 0.3;
  box-shadow: 0 0 30px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 13s;
  animation: shimmer 0.4s 13s;
}

.star:nth-child(49) {
  top: 47vh;
  left: 7vw;
  width: 1px;
  height: 1px;
  opacity: 0.6;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 40s;
  animation: shimmer 0.4s 40s;
}

.star:nth-child(50) {
  top: 13vh;
  left: 91vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 9px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 83s;
  animation: shimmer 0.4s 83s;
}

.star:nth-child(51) {
  top: 88vh;
  left: 99vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 93s;
  animation: shimmer 0.4s 93s;
}

.star:nth-child(52) {
  top: 57vh;
  left: 46vw;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 64s;
  animation: shimmer 0.4s 64s;
}

.star:nth-child(53) {
  top: 29vh;
  left: 99vw;
  width: 1px;
  height: 1px;
  opacity: 0.9;
  box-shadow: 0 0 35px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 25s;
  animation: shimmer 0.4s 25s;
}

.star:nth-child(54) {
  top: 41vh;
  left: 86vw;
  width: 3px;
  height: 3px;
  opacity: 0.5;
  box-shadow: 0 0 15px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 20s;
  animation: shimmer 0.4s 20s;
}

.star:nth-child(55) {
  top: 19vh;
  left: 49vw;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 0 25px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 32s;
  animation: shimmer 0.4s 32s;
}

.star:nth-child(56) {
  top: 24vh;
  left: 17vw;
  width: 3px;
  height: 3px;
  opacity: 0.5;
  box-shadow: 0 0 26px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 73s;
  animation: shimmer 0.4s 73s;
}

.star:nth-child(57) {
  top: 13vh;
  left: 67vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 36px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 5s;
  animation: shimmer 0.4s 5s;
}

.star:nth-child(58) {
  top: 68vh;
  left: 2vw;
  width: 1px;
  height: 1px;
  opacity: 0.6;
  box-shadow: 0 0 8px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 86s;
  animation: shimmer 0.4s 86s;
}

.star:nth-child(59) {
  top: 54vh;
  left: 79vw;
  width: 1px;
  height: 1px;
  opacity: 0.9;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 6s;
  animation: shimmer 0.4s 6s;
}

.star:nth-child(60) {
  top: 56vh;
  left: 11vw;
  width: 3px;
  height: 3px;
  opacity: 0.9;
  box-shadow: 0 0 25px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 44s;
  animation: shimmer 0.4s 44s;
}

.star:nth-child(61) {
  top: 46vh;
  left: 53vw;
  width: 1px;
  height: 1px;
  opacity: 0.6;
  box-shadow: 0 0 15px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 2s;
  animation: shimmer 0.4s 2s;
}

.star:nth-child(62) {
  top: 84vh;
  left: 85vw;
  width: 2px;
  height: 2px;
  opacity: 0.1;
  box-shadow: 0 0 32px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 68s;
  animation: shimmer 0.4s 68s;
}

.star:nth-child(63) {
  top: 20vh;
  left: 45vw;
  width: 2px;
  height: 2px;
  opacity: 0.6;
  box-shadow: 0 0 20px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 22s;
  animation: shimmer 0.4s 22s;
}

.star:nth-child(64) {
  top: 54vh;
  left: 52vw;
  width: 1px;
  height: 1px;
  opacity: 0.1;
  box-shadow: 0 0 29px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 27s;
  animation: shimmer 0.4s 27s;
}

.star:nth-child(65) {
  top: 7vh;
  left: 57vw;
  width: 1px;
  height: 1px;
  opacity: 0.8;
  box-shadow: 0 0 2px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 72s;
  animation: shimmer 0.4s 72s;
}

.star:nth-child(66) {
  top: 37vh;
  left: 18vw;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  box-shadow: 0 0 8px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 77s;
  animation: shimmer 0.4s 77s;
}

.star:nth-child(67) {
  top: 36vh;
  left: 50vw;
  width: 2px;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 0 3px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 25s;
  animation: shimmer 0.4s 25s;
}

.star:nth-child(68) {
  top: 22vh;
  left: 98vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 7px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 87s;
  animation: shimmer 0.4s 87s;
}

.star:nth-child(69) {
  top: 9vh;
  left: 66vw;
  width: 2px;
  height: 2px;
  opacity: 0.9;
  box-shadow: 0 0 31px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 44s;
  animation: shimmer 0.4s 44s;
}

.star:nth-child(70) {
  top: 50vh;
  left: 45vw;
  width: 1px;
  height: 1px;
  opacity: 0.8;
  box-shadow: 0 0 34px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 12s;
  animation: shimmer 0.4s 12s;
}

.star:nth-child(71) {
  top: 38vh;
  left: 61vw;
  width: 2px;
  height: 2px;
  opacity: 0.6;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 59s;
  animation: shimmer 0.4s 59s;
}

.star:nth-child(72) {
  top: 47vh;
  left: 43vw;
  width: 3px;
  height: 3px;
  opacity: 0.5;
  box-shadow: 0 0 7px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 100s;
  animation: shimmer 0.4s 100s;
}

.star:nth-child(73) {
  top: 51vh;
  left: 48vw;
  width: 2px;
  height: 2px;
  opacity: 0.3;
  box-shadow: 0 0 10px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 78s;
  animation: shimmer 0.4s 78s;
}

.star:nth-child(74) {
  top: 66vh;
  left: 21vw;
  width: 2px;
  height: 2px;
  opacity: 0.8;
  box-shadow: 0 0 18px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 26s;
  animation: shimmer 0.4s 26s;
}

.star:nth-child(75) {
  top: 1vh;
  left: 63vw;
  width: 1px;
  height: 1px;
  opacity: 0.3;
  box-shadow: 0 0 22px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 48s;
  animation: shimmer 0.4s 48s;
}

.star:nth-child(76) {
  top: 98vh;
  left: 52vw;
  width: 3px;
  height: 3px;
  opacity: 0.7;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 100s;
  animation: shimmer 0.4s 100s;
}

.star:nth-child(77) {
  top: 14vh;
  left: 21vw;
  width: 1px;
  height: 1px;
  opacity: 0.9;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 43s;
  animation: shimmer 0.4s 43s;
}

.star:nth-child(78) {
  top: 46vh;
  left: 22vw;
  width: 1px;
  height: 1px;
  opacity: 0.8;
  box-shadow: 0 0 12px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 71s;
  animation: shimmer 0.4s 71s;
}

.star:nth-child(79) {
  top: 5vh;
  left: 66vw;
  width: 2px;
  height: 2px;
  opacity: 0.2;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 62s;
  animation: shimmer 0.4s 62s;
}

.star:nth-child(80) {
  top: 69vh;
  left: 99vw;
  width: 1px;
  height: 1px;
  opacity: 0.8;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 75s;
  animation: shimmer 0.4s 75s;
}

.star:nth-child(81) {
  top: 28vh;
  left: 47vw;
  width: 2px;
  height: 2px;
  opacity: 0.1;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 82s;
  animation: shimmer 0.4s 82s;
}

.star:nth-child(82) {
  top: 27vh;
  left: 58vw;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 96s;
  animation: shimmer 0.4s 96s;
}

.star:nth-child(83) {
  top: 23vh;
  left: 11vw;
  width: 1px;
  height: 1px;
  opacity: 0.7;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 64s;
  animation: shimmer 0.4s 64s;
}

.star:nth-child(84) {
  top: 38vh;
  left: 28vw;
  width: 2px;
  height: 2px;
  opacity: 0.5;
  box-shadow: 0 0 3px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 90s;
  animation: shimmer 0.4s 90s;
}

.star:nth-child(85) {
  top: 37vh;
  left: 74vw;
  width: 2px;
  height: 2px;
  opacity: 0.5;
  box-shadow: 0 0 17px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 81s;
  animation: shimmer 0.4s 81s;
}

.star:nth-child(86) {
  top: 72vh;
  left: 32vw;
  width: 1px;
  height: 1px;
  opacity: 0.9;
  box-shadow: 0 0 36px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 88s;
  animation: shimmer 0.4s 88s;
}

.star:nth-child(87) {
  top: 18vh;
  left: 62vw;
  width: 1px;
  height: 1px;
  opacity: 0.3;
  box-shadow: 0 0 16px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 11s;
  animation: shimmer 0.4s 11s;
}

.star:nth-child(88) {
  top: 21vh;
  left: 66vw;
  width: 2px;
  height: 2px;
  opacity: 0.5;
  box-shadow: 0 0 23px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 53s;
  animation: shimmer 0.4s 53s;
}

.star:nth-child(89) {
  top: 58vh;
  left: 86vw;
  width: 2px;
  height: 2px;
  opacity: 0.6;
  box-shadow: 0 0 5px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 32s;
  animation: shimmer 0.4s 32s;
}

.star:nth-child(90) {
  top: 24vh;
  left: 20vw;
  width: 3px;
  height: 3px;
  opacity: 0.2;
  box-shadow: 0 0 19px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 68s;
  animation: shimmer 0.4s 68s;
}

.star:nth-child(91) {
  top: 48vh;
  left: 9vw;
  width: 2px;
  height: 2px;
  opacity: 0.5;
  box-shadow: 0 0 35px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 88s;
  animation: shimmer 0.4s 88s;
}

.star:nth-child(92) {
  top: 35vh;
  left: 56vw;
  width: 2px;
  height: 2px;
  opacity: 0.8;
  box-shadow: 0 0 35px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 43s;
  animation: shimmer 0.4s 43s;
}

.star:nth-child(93) {
  top: 98vh;
  left: 39vw;
  width: 3px;
  height: 3px;
  opacity: 0.1;
  box-shadow: 0 0 27px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 3s;
  animation: shimmer 0.4s 3s;
}

.star:nth-child(94) {
  top: 27vh;
  left: 40vw;
  width: 3px;
  height: 3px;
  opacity: 0.4;
  box-shadow: 0 0 34px 2px rgba(255, 255, 254, 0.5);
  -webkit-animation: shimmer 0.4s 62s;
  animation: shimmer 0.4s 62s;
}

.star:nth-child(95) {
  top: 13vh;
  left: 52vw;
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow: 0 0 10px 2px rgba(255, 255, 254, 0.3);
  -webkit-animation: shimmer 0.4s 49s;
  animation: shimmer 0.4s 49s;
}

.star:nth-child(96) {
  top: 30vh;
  left: 94vw;
  width: 1px;
  height: 1px;
  opacity: 0.4;
  box-shadow: 0 0 20px 2px rgba(255, 255, 254, 0.1);
  -webkit-animation: shimmer 0.4s 92s;
  animation: shimmer 0.4s 92s;
}

.star:nth-child(97) {
  top: 63vh;
  left: 68vw;
  width: 1px;
  height: 1px;
  opacity: 0.3;
  box-shadow: 0 0 22px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 15s;
  animation: shimmer 0.4s 15s;
}

.star:nth-child(98) {
  top: 25vh;
  left: 27vw;
  width: 3px;
  height: 3px;
  opacity: 0.2;
  box-shadow: 0 0 13px 2px rgba(255, 255, 254, 0.4);
  -webkit-animation: shimmer 0.4s 76s;
  animation: shimmer 0.4s 76s;
}

.star:nth-child(99) {
  top: 37vh;
  left: 40vw;
  width: 3px;
  height: 3px;
  opacity: 0.8;
  box-shadow: 0 0 11px 2px rgba(255, 255, 254, 0.2);
  -webkit-animation: shimmer 0.4s 31s;
  animation: shimmer 0.4s 31s;
}

.star:nth-child(100) {
  top: 74vh;
  left: 77vw;
  width: 2px;
  height: 2px;
  opacity: 0.6;
  box-shadow: 0 0 3px 2px rgba(255, 255, 254, 0.6);
  -webkit-animation: shimmer 0.4s 72s;
  animation: shimmer 0.4s 72s;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}