<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CyberCore</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <div class="status">
        Total Robots: <span id="ttr"></span><br />
        Inhibernation: <span id="ta"></span><br />
        Active: <span id="tat"></span><br />
    </div>

    <div class="flag">
        {{flag}}
    </div>

    <div class="area">
        Selected Area: <span id="sarea"></span>
    </div>

    <button class="butt">
        Self Destruct!
    </button>
    <div class="layout">
        <figure class="earth">
            <div id="globe" class="atlas">
            </div>
            <figcaption id="atlas-menu" class="atlas-menu">
            </figcaption>
        </figure>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
        integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"
        integrity="sha256-COrpkJZny2d6yp5fD6jbGFqkM64zBULJ9b0jqJhHC78=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/1.2.3/queue.js"
        integrity="sha256-+ITVyGOdaeIeJ9VgZEgVUoOkmA9tP15aJHmu9y10HNQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
        integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <!-- partial -->
    <script src="/static/js/jquery-3.7.0.slim.js"></script>

    <script src="/static/js/home.js"></script>

</body>
<!-- partial -->

</html>